.container{
    margin: 0 auto;
    padding: 20px, 1px;
    /* border: 2px solid white; */
}
.background{
    background-image: url('../assets/logoCadastro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 770px;
    padding-top: 40px;
    padding-left: 30px; 
}
body{
    background: rgb(2, 9, 43);
    
}