.container{
    margin: 0 auto;
    padding: 20px, 1px;
    /* border: 2px solid white; */
}
/* MAIN */
.background{
    background-image: url('../assets/logoNavbar.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    padding-top: 400px;
    padding-left: 30px;
}
body{
    background: rgb(2, 9, 43);
    
}
/* SOBRE */

.card-mini{
    padding: 20px 15px;
    text-align: center;
    color: #828590;
    background: #ffffff;
    border-radius: 6px;
    transition: .3s;
    max-width: 271px;
    height: 275px;
}
.title{
    border-bottom: 1px solid #828590;
}

