.container{
    margin: 0 auto;
    padding: 20px, 1px;
    /* border: 2px solid white; */
}
.background{
    background-image: url('../assets/istockphoto-972902038-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    padding-top: 550px;
    padding-left: 30px;

    /* padding-top: 4px;
    padding-left: 30px;  */
}
body{
    background: rgb(2, 9, 43);
    
}